@import 'conf/reset.css';

html,body {
    height:100%;
}

.main {
    width: 100%;
    height: 100%;
}

.devices {
    width: 100%;
    height: 80%;

    div {
        width: 50%;
        height: 100%;
        float: left;

        ul {
            width: 100%;
        }
        li {
            line-height: 150px;
            color: black;
            font-size:18px;
        }
        p {
            position: relative;
            margin-top: 5%;
        }
        label {
            padding-top: 10px;
        }
    }
}

#search {
    position: relative;
    padding-top: 30px;
    height: 120px;
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

    .filters {
        height: 80%;
        padding-top: 20px;

        div {
            margin-left: 10px;
            float: left;
            margin-top: 10px;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

}

.list {
    width: 100%;
    height: 100%;

    ul {
        width: 100%;

        li {
            margin: 5px 0;
            width: 100%;
            height: 45px;
            border: black solid 1px;
            float: left;

            a {
                position: absolute;
                margin-bottom: 15px;
                margin-top: 15px;
                margin-left: 50px;
                text-decoration: none;
                color: black;
            }
        }
    }
}





input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

label {
    display: block;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
}

input[type=checkbox]:checked ~ #moreBox {
    top: 0;
    left: 0;
}

input[type=checkbox]:checked ~ #moreBoxRift {
    top: 0;
    left: 0;
}

.even {
    background-color: gray;
}

.odd {
    background-color: dimgray;
}

.vive {
    background-image:url(../img/vive.png);
    background-position: center;
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: #1b2838;
}

.oculus {
    background-image:url(../img/rift.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: #1574d4;
}

#moreBox {
    position: absolute;
    width: 100%;
    height: 200px;
    top: -9999px;
    left: -9999px;
    background-color: red;
    transition:all 0.5s ease-out;
}
#moreBoxRift {
    position: absolute;
    width: 100%;
    height: 200px;
    top: -9999px;
    right: -9999px;
    background-color: yellow;
    transition:all 0.5s ease-out;
}

@media only screen and (min-width : 768px) {

}